
body {
  font-size   : 16px;
  font-family : -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height : 1.45;
}

h1, h2, h3, h4, h5, h6 {
  margin-top    : 1.5rem;
  margin-bottom : 1.5rem;
  font-weight   : 700;
}

.h1 {
  font-size : 3.998rem;
}

.h2 {
  font-size : 2.827rem;
}

.h3 {
  font-size : 1.999rem;
}

.h4 {
  font-size : 1.414rem;
}

.h5 {
  font-size : 1rem;
}

.h6 {
  font-size : 0.707rem;
}

.h1 {
  line-height : 1.15;
}

.h2, .h3 {
  line-height : 1.25;
}

.h4, .h5 {
  line-height : 1.35;
}

p {
  margin-top    : 1.5rem;
  margin-bottom : 1.5rem;
}

.fw-bold {
  font-weight : 700;
}

.h-caps {
  text-transform : uppercase;
  letter-spacing : 0.54pt;
}

