
.caps {
  text-transform : uppercase;
}

.line-height-1 {
  line-height : 1.15;
}

.line-height-2 {
  line-height : 1.25;
}

.line-height-3 {
  line-height : 1.45;
}

.line-height-4 {
  line-height : 1.5;
}

