
.bold {
  font-weight : 700;
}

.regular {
  font-weight : normal;
}

.italic {
  font-style : italic;
}

.underline {
  text-decoration : underline;
}

.caps {
  text-transform : uppercase;
  letter-spacing : 0.54pt;
}

.line-height-1 {
  line-height : 1.15;
}

.line-height-2 {
  line-height : 1.25;
}

.line-height-3 {
  line-height : 1.45;
}

.line-height-4 {
  line-height : 1.5;
}

.font-family-inherit {
  font-family : inherit;
}

.font-size-inherit {
  font-size : inherit;
}

.text-decoration-none {
  text-decoration : none;
}

.list-style-none {
  list-style-type : none;
}

.list-reset {
  list-style-type : none;
  padding-left    : 0;
}

.start-align {
  text-align : start;
}

.center {
  text-align : center;
}

.end-align {
  text-align : end;
}

.justify {
  text-align : justify;
}

