[submodule "Sources/PointFree/Transcripts"]
	path = Sources/PointFree/Transcripts
	url = http://github.com/mbrandonw/episode-transcripts
[submodule "Sources/Models/Transcripts"]
	path = Sources/Models/Transcripts
	url = http://github.com/mbrandonw/episode-transcripts
