version: 2

jobs:
  build:
    macos:
      xcode: "9.2.0"

    steps:
      - checkout

      - run:
          name: Mac Info
          command: system_profiler SPSoftwareDataType

      - run:
          name: Install Postgres
          command: brew install postgresql

      - run:
          name: Start Postgres
          command: brew services start postgresql

      - run:
          name: Install Sourcery
          command: brew install sourcery

      - run:
          name: Run macOS tests
          command: OSS=1 rm Package.resolved && swift package reset && swift package clean && make test-macos
          environment:
            SNAPSHOT_ARTIFACTS: $CIRCLE_ARTIFACTS

      - run:
          name: Run Swift tests
          command: OSS=1 swift package reset && swift package clean && make test-swift
          environment:
            SNAPSHOT_ARTIFACTS: $CIRCLE_ARTIFACTS
