
.h1 {
  font-size : 4rem;
}

.h2 {
  font-size : 3rem;
}

.h3 {
  font-size : 2rem;
}

.h4 {
  font-size : 1.5rem;
}

.h5 {
  font-size : 1rem;
}

.h6 {
  font-size : 0.75rem;
}

.ts-m-r4 {
  font-size : 4rem;
}

.ts-m-r3 {
  font-size : 3rem;
}

.ts-m-r2 {
  font-size : 2rem;
}

.ts-m-r1_5 {
  font-size : 1.5rem;
}

.ts-m-r1_25 {
  font-size : 1.25rem;
}

.ts-m-r1 {
  font-size : 1rem;
}

.ts-m-r0_875 {
  font-size : 0.875rem;
}

.ts-m-r0_75 {
  font-size : 0.75rem;
}

.hide-all {
  position : absolute;
  height   : 1px;
  width    : 1px;
  overflow : hidden;
  clip     : rect(1px,1px,1px,1px);
}

.flex {
  display : flex;
}

.flex-column {
  flex-direction : column;
}

.flex-wrap {
  flex-wrap : wrap;
}


.items-start {
  align-items : flex-start;
}

.items-end {
  align-items : flex-end;
}

.items-center {
  align-items : center;
}

.items-baseline {
  align-items : baseline;
}

.items-stretch {
  align-items : stretch;
}

.self-start {
  align-self : flex-start;
}

.self-end {
  align-self : flex-end;
}

.self-center {
  align-self : center;
}

.self-baseline {
  align-self : baseline;
}

.self-stretch {
  align-self : stretch;
}

.justify-start {
  justify-content : flex-start;
}

.justify-end {
  justify-content : flex-end;
}

.justify-center {
  justify-content : center;
}

.justify-between {
  justify-content : space-between;
}

.justify-around {
  justify-content : space-around;
}

.align-start {
  align-content : flex-start;
}

.align-end {
  align-content : flex-end;
}

.align-center {
  align-content : center;
}

.align-between {
  align-content : space-between;
}

.align-around {
  align-content : space-around;
}

.order-0 {
  order : 0;
}

.order-1 {
  order : 1;
}

.order-2 {
  order : 2;
}

.order-3 {
  order : 3;
}

.order-last {
  order : 99999;
}

.row {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  display            : flex;
  flex-grow          : 0;
  flex-shrink        : 1;
  flex-basis         : auto;
  flex-direction     : row;
  flex-wrap          : wrap;
}

.row.reverse {
  flex-direction : row-reverse;
}

.col.reverse {
  flex-direction : column-reverse;
}

.col-m, .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-m {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-m-1 {
  flex-basis : 8.333333333333334%;
  max-width  : 8.333333333333334%;
}

.col-m-2 {
  flex-basis : 16.666666666666668%;
  max-width  : 16.666666666666668%;
}

.col-m-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-m-4 {
  flex-basis : 33.333333333333336%;
  max-width  : 33.333333333333336%;
}

.col-m-5 {
  flex-basis : 41.666666666666664%;
  max-width  : 41.666666666666664%;
}

.col-m-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-m-7 {
  flex-basis : 58.333333333333336%;
  max-width  : 58.333333333333336%;
}

.col-m-8 {
  flex-basis : 66.66666666666667%;
  max-width  : 66.66666666666667%;
}

.col-m-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-m-10 {
  flex-basis : 83.33333333333333%;
  max-width  : 83.33333333333333%;
}

.col-m-11 {
  flex-basis : 91.66666666666667%;
  max-width  : 91.66666666666667%;
}

.col-m-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-m {
  justify-content : flex-start;
  text-align      : start;
}

.center-m {
  justify-content : center;
  text-align      : center;
}

.end-m {
  justify-content : flex-end;
  text-align      : end;
}

.top-m {
  align-items : flex-start;
}

.middle-m {
  align-items : center;
}

.bottom-m {
  align-items : flex-end;
}

.around-m {
  justify-content : space-around;
}

.between-m {
  justify-content : space-between;
}

.first-m {
  order : -1;
}

.last-m {
  order : 1;
}

.m-pb0 {
  padding-bottom : 0;
}

.m-pb1 {
  padding-bottom : 0.5rem;
}

.m-pb2 {
  padding-bottom : 1rem;
}

.m-pb3 {
  padding-bottom : 2rem;
}

.m-pb4 {
  padding-bottom : 4rem;
}

.m-pl0 {
  padding-left : 0;
}

.m-pl1 {
  padding-left : 0.5rem;
}

.m-pl2 {
  padding-left : 1rem;
}

.m-pl3 {
  padding-left : 2rem;
}

.m-pl4 {
  padding-left : 4rem;
}

.m-pr0 {
  padding-right : 0;
}

.m-pr1 {
  padding-right : 0.5rem;
}

.m-pr2 {
  padding-right : 1rem;
}

.m-pr3 {
  padding-right : 2rem;
}

.m-pr4 {
  padding-right : 4rem;
}

.m-pt0 {
  padding-top : 0;
}

.m-pt1 {
  padding-top : 0.5rem;
}

.m-pt2 {
  padding-top : 1rem;
}

.m-pt3 {
  padding-top : 2rem;
}

.m-pt4 {
  padding-top : 4rem;
}

.m-mb0 {
  margin-bottom : 0;
}

.m-mb1 {
  margin-bottom : 0.5rem;
}

.m-mb2 {
  margin-bottom : 1rem;
}

.m-mb3 {
  margin-bottom : 2rem;
}

.m-mb4 {
  margin-bottom : 4rem;
}

.m-ml0 {
  margin-left : 0;
}

.m-ml1 {
  margin-left : 0.5rem;
}

.m-ml2 {
  margin-left : 1rem;
}

.m-ml3 {
  margin-left : 2rem;
}

.m-ml4 {
  margin-left : 4rem;
}

.m-mr0 {
  margin-right : 0;
}

.m-mr1 {
  margin-right : 0.5rem;
}

.m-mr2 {
  margin-right : 1rem;
}

.m-mr3 {
  margin-right : 2rem;
}

.m-mr4 {
  margin-right : 4rem;
}

.m-mt0 {
  margin-top : 0;
}

.m-mt1 {
  margin-top : 0.5rem;
}

.m-mt2 {
  margin-top : 1rem;
}

.m-mt3 {
  margin-top : 2rem;
}

.m-mt4 {
  margin-top : 4rem;
}

.bold {
  font-weight : 700;
}

.bolder {
  font-weight : bolder;
}

.medium {
  font-weight : 500;
}

.semi-bold {
  font-weight : 600;
}

.caps {
  text-transform : uppercase;
  letter-spacing : 0.54pt;
}

.italic {
  font-style : italic;
}

.light {
  font-weight : 300;
}

.lighter {
  font-weight : light;
}

.normal {
  font-weight : normal;
}

.underline {
  text-decoration : underline;
}

.lh-0 {
  line-height : 1.15;
}

.lh-1 {
  line-height : 1.25;
}

.lh-2 {
  line-height : 1.45;
}

.lh-3 {
  line-height : 1.5;
}

.lh-1r {
  line-height : 1rem;
}

.lh-2r {
  line-height : 2rem;
}

.lh-3r {
  line-height : 3rem;
}

.lh-4r {
  line-height : 4rem;
}

.font-family-inherit {
  font-family : inherit;
}

.font-family-monospace {
  font-family : monospace;
}

.font-size-inherit {
  font-size : inherit;
}

.text-decoration-none {
  text-decoration : none;
}

.list-style-none {
  list-style-type : none;
}

.list-reset {
  list-style-type : none;
  padding-left    : 0;
}

.start-align {
  text-align : start;
}

.center {
  text-align : center;
}

.end-align {
  text-align : end;
}

.justify {
  text-align : justify;
}

.nowrap {
  white-space : nowrap;
}

.break-word {
  word-wrap : break-word;
}

.overflow-hidden {
  overflow : hidden;
}

.overflow-scroll {
  overflow : scroll;
}

.overflow-auto {
  overflow : auto;
}

.overflow-auto-x {
  overflow-x : auto;
}

.overflow-auto-y {
  overflow-y : auto;
}

.clear-fix::before, .clear-fix::after {
  content : "";
  display : table;
}

.clear-fix::after {
  clear : both;
}

.left {
  float : left;
}

.right {
  float : right;
}

.fit {
  max-width : 100%;
}

.border-box {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

.static {
  position : static;
}

.relative {
  position : relative;
}

.absolute {
  position : absolute;
}

.fixed {
  position : fixed;
}

.sticky {
  position : sticky;
  position : -webkit-sticky;
}

.sticky-m {
  position : sticky;
  position : -webkit-sticky;
}

.top-0 {
  top : 0;
}

.right-0 {
  right : 0;
}

.bottom-0 {
  bottom : 0;
}

.left-0 {
  left : 0;
}

.z1 {
  z-index : 1;
}

.z2 {
  z-index : 2;
}

.z3 {
  z-index : 3;
}

.z4 {
  z-index : 4;
}

.far-far-away {
  position : absolute;
  top      : -9999px;
  left     : -9999px;
}

.border {
  border-top-style    : solid;
  border-right-style  : solid;
  border-bottom-style : solid;
  border-left-style   : solid;
  border-top-width    : 1px;
  border-right-width  : 1px;
  border-bottom-width : 1px;
  border-left-width   : 1px;
}

.border-top {
  border-top-style : solid;
  border-top-width : 1px;
}

.border-right {
  border-right-style : solid;
  border-right-width : 1px;
}

.border-bottom {
  border-bottom-style : solid;
  border-bottom-width : 1px;
}

.border-left {
  border-left-style : solid;
  border-left-width : 1px;
}

.border-none {
  border-top-style    : none;
  border-right-style  : none;
  border-bottom-style : none;
  border-left-style   : none;
  border-top-width    : 0;
  border-right-width  : 0;
  border-bottom-width : 0;
  border-left-width   : 0;
}

.rounded {
  border-top-left-radius     : 6px;
  border-top-right-radius    : 6px;
  border-bottom-right-radius : 6px;
  border-bottom-left-radius  : 6px;
}

.rounded-left {
  border-top-left-radius    : 6px;
  border-bottom-left-radius : 6px;
}

.rounded-right {
  border-top-right-radius    : 6px;
  border-bottom-right-radius : 6px;
}

.circle {
  border-top-left-radius     : 50%;
  border-top-right-radius    : 50%;
  border-bottom-right-radius : 50%;
  border-bottom-left-radius  : 50%;
}

.pill {
  border-top-left-radius     : 9999px;
  border-top-right-radius    : 9999px;
  border-bottom-right-radius : 9999px;
  border-bottom-left-radius  : 9999px;
}

.align-middle {
  vertical-align : middle;
}

.align-top {
  vertical-align : top;
}

.h-1r {
  height : 1rem;
}

.h-2r {
  height : 2rem;
}

.h-3r {
  height : 3rem;
}

.h-4r {
  height : 4rem;
}

.w-50p {
  width : 50%;
}

.w-100p {
  width : 100%;
}

.h-100p {
  height : 100%;
}

.inline {
  display : inline;
}

.block {
  display : block;
}

.inline-block {
  display : inline-block;
}

.none {
  display : none;
}

.table {
  display : table;
}

.table-cell {
  display : table-cell;
}

.cursor-pointer {
  cursor : pointer;
}

@media only screen and (min-width: 832px) {

.ts-d-r4 {
  font-size : 4rem;
}

.ts-d-r3 {
  font-size : 3rem;
}

.ts-d-r2 {
  font-size : 2rem;
}

.ts-d-r1_5 {
  font-size : 1.5rem;
}

.ts-d-r1_25 {
  font-size : 1.25rem;
}

.ts-d-r1 {
  font-size : 1rem;
}

.ts-d-r0_875 {
  font-size : 0.875rem;
}

.ts-d-r0_75 {
  font-size : 0.75rem;
}

}
@media only screen and (max-width: 831px) {

.hide-m {
  display : none;
}

}
@media only screen and (min-width: 832px) {

.hide-d {
  display : none;
}

}
@media only screen and (max-width: 831px) {

.flex-m {
  display : flex;
}

}
@media only screen and (min-width: 832px) {

.flex-d {
  display : flex;
}

}
@media only screen and (min-width: 832px) {

.col-d, .col-d-1, .col-d-2, .col-d-3, .col-d-4, .col-d-5, .col-d-6, .col-d-7, .col-d-8, .col-d-9, .col-d-10, .col-d-11, .col-d-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-d {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-d-1 {
  flex-basis : 8.333333333333334%;
  max-width  : 8.333333333333334%;
}

.col-d-2 {
  flex-basis : 16.666666666666668%;
  max-width  : 16.666666666666668%;
}

.col-d-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-d-4 {
  flex-basis : 33.333333333333336%;
  max-width  : 33.333333333333336%;
}

.col-d-5 {
  flex-basis : 41.666666666666664%;
  max-width  : 41.666666666666664%;
}

.col-d-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-d-7 {
  flex-basis : 58.333333333333336%;
  max-width  : 58.333333333333336%;
}

.col-d-8 {
  flex-basis : 66.66666666666667%;
  max-width  : 66.66666666666667%;
}

.col-d-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-d-10 {
  flex-basis : 83.33333333333333%;
  max-width  : 83.33333333333333%;
}

.col-d-11 {
  flex-basis : 91.66666666666667%;
  max-width  : 91.66666666666667%;
}

.col-d-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-d {
  justify-content : flex-start;
  text-align      : start;
}

.center-d {
  justify-content : center;
  text-align      : center;
}

.end-d {
  justify-content : flex-end;
  text-align      : end;
}

.top-d {
  align-items : flex-start;
}

.middle-d {
  align-items : center;
}

.bottom-d {
  align-items : flex-end;
}

.around-d {
  justify-content : space-around;
}

.between-d {
  justify-content : space-between;
}

.first-d {
  order : -1;
}

.last-d {
  order : 1;
}

}
@media only screen and (min-width: 832px) {

.d-pb0 {
  padding-bottom : 0;
}

.d-pb1 {
  padding-bottom : 0.5rem;
}

.d-pb2 {
  padding-bottom : 1rem;
}

.d-pb3 {
  padding-bottom : 2rem;
}

.d-pb4 {
  padding-bottom : 4rem;
}

.d-pl0 {
  padding-left : 0;
}

.d-pl1 {
  padding-left : 0.5rem;
}

.d-pl2 {
  padding-left : 1rem;
}

.d-pl3 {
  padding-left : 2rem;
}

.d-pl4 {
  padding-left : 4rem;
}

.d-pr0 {
  padding-right : 0;
}

.d-pr1 {
  padding-right : 0.5rem;
}

.d-pr2 {
  padding-right : 1rem;
}

.d-pr3 {
  padding-right : 2rem;
}

.d-pr4 {
  padding-right : 4rem;
}

.d-pt0 {
  padding-top : 0;
}

.d-pt1 {
  padding-top : 0.5rem;
}

.d-pt2 {
  padding-top : 1rem;
}

.d-pt3 {
  padding-top : 2rem;
}

.d-pt4 {
  padding-top : 4rem;
}

}
@media only screen and (min-width: 832px) {

.d-mb0 {
  margin-bottom : 0;
}

.d-mb1 {
  margin-bottom : 0.5rem;
}

.d-mb2 {
  margin-bottom : 1rem;
}

.d-mb3 {
  margin-bottom : 2rem;
}

.d-mb4 {
  margin-bottom : 4rem;
}

.d-ml0 {
  margin-left : 0;
}

.d-ml1 {
  margin-left : 0.5rem;
}

.d-ml2 {
  margin-left : 1rem;
}

.d-ml3 {
  margin-left : 2rem;
}

.d-ml4 {
  margin-left : 4rem;
}

.d-mr0 {
  margin-right : 0;
}

.d-mr1 {
  margin-right : 0.5rem;
}

.d-mr2 {
  margin-right : 1rem;
}

.d-mr3 {
  margin-right : 2rem;
}

.d-mr4 {
  margin-right : 4rem;
}

.d-mt0 {
  margin-top : 0;
}

.d-mt1 {
  margin-top : 0.5rem;
}

.d-mt2 {
  margin-top : 1rem;
}

.d-mt3 {
  margin-top : 2rem;
}

.d-mt4 {
  margin-top : 4rem;
}

}
@media only screen and (min-width: 832px) {

.sticky-d {
  position : sticky;
  position : -webkit-sticky;
}

}
