
body, html {
  height : 100%;
}

body {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

*, *::before, *::after {
  -webkit-box-sizing : inherit;
  -moz-box-sizing    : inherit;
  -ms-box-sizing     : inherit;
  -o-box-sizing      : inherit;
  box-sizing         : inherit;
}

.grid {
  display       : flex;
  margin-top    : 0;
  margin-bottom : 0;
  margin-right  : auto;
  margin-left   : auto;
}

.col-1 {
  flex-basis : -webkit-calc(0.0833333333333333 * 100%);
  flex-basis : -moz-calc(0.0833333333333333 * 100%);
  flex-basis : -ms-calc(0.0833333333333333 * 100%);
  flex-basis : -o-calc(0.0833333333333333 * 100%);
  flex-basis : calc(0.0833333333333333 * 100%);
  max-width  : -webkit-calc(0.0833333333333333 * 100%);
  max-width  : -moz-calc(0.0833333333333333 * 100%);
  max-width  : -ms-calc(0.0833333333333333 * 100%);
  max-width  : -o-calc(0.0833333333333333 * 100%);
  max-width  : calc(0.0833333333333333 * 100%);
}

.col-2 {
  flex-basis : -webkit-calc(0.166666666666667 * 100%);
  flex-basis : -moz-calc(0.166666666666667 * 100%);
  flex-basis : -ms-calc(0.166666666666667 * 100%);
  flex-basis : -o-calc(0.166666666666667 * 100%);
  flex-basis : calc(0.166666666666667 * 100%);
  max-width  : -webkit-calc(0.166666666666667 * 100%);
  max-width  : -moz-calc(0.166666666666667 * 100%);
  max-width  : -ms-calc(0.166666666666667 * 100%);
  max-width  : -o-calc(0.166666666666667 * 100%);
  max-width  : calc(0.166666666666667 * 100%);
}

.col-3 {
  flex-basis : -webkit-calc(0.25 * 100%);
  flex-basis : -moz-calc(0.25 * 100%);
  flex-basis : -ms-calc(0.25 * 100%);
  flex-basis : -o-calc(0.25 * 100%);
  flex-basis : calc(0.25 * 100%);
  max-width  : -webkit-calc(0.25 * 100%);
  max-width  : -moz-calc(0.25 * 100%);
  max-width  : -ms-calc(0.25 * 100%);
  max-width  : -o-calc(0.25 * 100%);
  max-width  : calc(0.25 * 100%);
}

.col-4 {
  flex-basis : -webkit-calc(0.333333333333333 * 100%);
  flex-basis : -moz-calc(0.333333333333333 * 100%);
  flex-basis : -ms-calc(0.333333333333333 * 100%);
  flex-basis : -o-calc(0.333333333333333 * 100%);
  flex-basis : calc(0.333333333333333 * 100%);
  max-width  : -webkit-calc(0.333333333333333 * 100%);
  max-width  : -moz-calc(0.333333333333333 * 100%);
  max-width  : -ms-calc(0.333333333333333 * 100%);
  max-width  : -o-calc(0.333333333333333 * 100%);
  max-width  : calc(0.333333333333333 * 100%);
}

.col-5 {
  flex-basis : -webkit-calc(0.416666666666667 * 100%);
  flex-basis : -moz-calc(0.416666666666667 * 100%);
  flex-basis : -ms-calc(0.416666666666667 * 100%);
  flex-basis : -o-calc(0.416666666666667 * 100%);
  flex-basis : calc(0.416666666666667 * 100%);
  max-width  : -webkit-calc(0.416666666666667 * 100%);
  max-width  : -moz-calc(0.416666666666667 * 100%);
  max-width  : -ms-calc(0.416666666666667 * 100%);
  max-width  : -o-calc(0.416666666666667 * 100%);
  max-width  : calc(0.416666666666667 * 100%);
}

.col-6 {
  flex-basis : -webkit-calc(0.5 * 100%);
  flex-basis : -moz-calc(0.5 * 100%);
  flex-basis : -ms-calc(0.5 * 100%);
  flex-basis : -o-calc(0.5 * 100%);
  flex-basis : calc(0.5 * 100%);
  max-width  : -webkit-calc(0.5 * 100%);
  max-width  : -moz-calc(0.5 * 100%);
  max-width  : -ms-calc(0.5 * 100%);
  max-width  : -o-calc(0.5 * 100%);
  max-width  : calc(0.5 * 100%);
}

.col-7 {
  flex-basis : -webkit-calc(0.583333333333333 * 100%);
  flex-basis : -moz-calc(0.583333333333333 * 100%);
  flex-basis : -ms-calc(0.583333333333333 * 100%);
  flex-basis : -o-calc(0.583333333333333 * 100%);
  flex-basis : calc(0.583333333333333 * 100%);
  max-width  : -webkit-calc(0.583333333333333 * 100%);
  max-width  : -moz-calc(0.583333333333333 * 100%);
  max-width  : -ms-calc(0.583333333333333 * 100%);
  max-width  : -o-calc(0.583333333333333 * 100%);
  max-width  : calc(0.583333333333333 * 100%);
}

.col-8 {
  flex-basis : -webkit-calc(0.666666666666667 * 100%);
  flex-basis : -moz-calc(0.666666666666667 * 100%);
  flex-basis : -ms-calc(0.666666666666667 * 100%);
  flex-basis : -o-calc(0.666666666666667 * 100%);
  flex-basis : calc(0.666666666666667 * 100%);
  max-width  : -webkit-calc(0.666666666666667 * 100%);
  max-width  : -moz-calc(0.666666666666667 * 100%);
  max-width  : -ms-calc(0.666666666666667 * 100%);
  max-width  : -o-calc(0.666666666666667 * 100%);
  max-width  : calc(0.666666666666667 * 100%);
}

.col-9 {
  flex-basis : -webkit-calc(0.75 * 100%);
  flex-basis : -moz-calc(0.75 * 100%);
  flex-basis : -ms-calc(0.75 * 100%);
  flex-basis : -o-calc(0.75 * 100%);
  flex-basis : calc(0.75 * 100%);
  max-width  : -webkit-calc(0.75 * 100%);
  max-width  : -moz-calc(0.75 * 100%);
  max-width  : -ms-calc(0.75 * 100%);
  max-width  : -o-calc(0.75 * 100%);
  max-width  : calc(0.75 * 100%);
}

.col-10 {
  flex-basis : -webkit-calc(0.833333333333333 * 100%);
  flex-basis : -moz-calc(0.833333333333333 * 100%);
  flex-basis : -ms-calc(0.833333333333333 * 100%);
  flex-basis : -o-calc(0.833333333333333 * 100%);
  flex-basis : calc(0.833333333333333 * 100%);
  max-width  : -webkit-calc(0.833333333333333 * 100%);
  max-width  : -moz-calc(0.833333333333333 * 100%);
  max-width  : -ms-calc(0.833333333333333 * 100%);
  max-width  : -o-calc(0.833333333333333 * 100%);
  max-width  : calc(0.833333333333333 * 100%);
}

.col-11 {
  flex-basis : -webkit-calc(0.916666666666667 * 100%);
  flex-basis : -moz-calc(0.916666666666667 * 100%);
  flex-basis : -ms-calc(0.916666666666667 * 100%);
  flex-basis : -o-calc(0.916666666666667 * 100%);
  flex-basis : calc(0.916666666666667 * 100%);
  max-width  : -webkit-calc(0.916666666666667 * 100%);
  max-width  : -moz-calc(0.916666666666667 * 100%);
  max-width  : -ms-calc(0.916666666666667 * 100%);
  max-width  : -o-calc(0.916666666666667 * 100%);
  max-width  : calc(0.916666666666667 * 100%);
}

.col-12 {
  flex-basis : -webkit-calc(1.0 * 100%);
  flex-basis : -moz-calc(1.0 * 100%);
  flex-basis : -ms-calc(1.0 * 100%);
  flex-basis : -o-calc(1.0 * 100%);
  flex-basis : calc(1.0 * 100%);
  max-width  : -webkit-calc(1.0 * 100%);
  max-width  : -moz-calc(1.0 * 100%);
  max-width  : -ms-calc(1.0 * 100%);
  max-width  : -o-calc(1.0 * 100%);
  max-width  : calc(1.0 * 100%);
}

body {
  font-size   : 16px;
  font-family : -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height : 1.45;
}

h1, h2, h3, h4, h5, h6 {
  margin-top    : 1rem;
  margin-bottom : 1rem;
  font-weight   : 700;
}

.h1 {
  font-size : 3.998rem;
}

.h2 {
  font-size : 2.827rem;
}

.h3 {
  font-size : 1.999rem;
}

.h4 {
  font-size : 1.414rem;
}

.h5 {
  font-size : 1rem;
}

.h6 {
  font-size : 0.707rem;
}

.h1 {
  line-height : 1.15;
}

.h2, .h3 {
  line-height : 1.25;
}

.h4, .h5 {
  line-height : 1.35;
}

p {
  margin-top    : 1rem;
  margin-bottom : 1rem;
}

strong {
  font-weight : 700;
}

.h-caps {
  text-transform : uppercase;
  letter-spacing : 0.54pt;
}

.fw-bold {
  font-weight : 700;
}

