
body, html {
  height : 100%;
}

html {
  font-size          : 14px;
  font-family        : -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height        : 1.5;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

body {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

*, *::before, *::after {
  -webkit-box-sizing : inherit;
  -moz-box-sizing    : inherit;
  -ms-box-sizing     : inherit;
  -o-box-sizing      : inherit;
  box-sizing         : inherit;
}

.bg-black {
  background-color : #121212;
}

.bg-dark {
  background-color : #121212;
}

.bg-gray650 {
  background-color : #a8a8a8;
}

.bg-gray900 {
  background-color : #f6f6f6;
}

.bg-purple {
  background-color : #974DFF;
}

.bg-purple150 {
  background-color : #291a40;
}

.bg-white {
  background-color : #fff;
}

.border-gray-650 {
  border-top-color    : #a8a8a8;
  border-right-color  : #a8a8a8;
  border-bottom-color : #a8a8a8;
  border-left-color   : #a8a8a8;
}

.border-gray-800 {
  border-top-color    : #ccc;
  border-right-color  : #ccc;
  border-bottom-color : #ccc;
  border-left-color   : #ccc;
}

.border-gray-900 {
  border-top-color    : #f6f6f6;
  border-right-color  : #f6f6f6;
  border-bottom-color : #f6f6f6;
  border-left-color   : #f6f6f6;
}

.fg-black {
  color : #121212;
}

.fg-gray300 {
  color : #555555;
}

.fg-gray400 {
  color : #666666;
}

.fg-gray650 {
  color : #a8a8a8;
}

.fg-gray850 {
  color : #d8d8d8;
}

.fg-green {
  color : #79F2B0;
}

.fg-purple {
  color : #974DFF;
}

.fg-red {
  color : #eb1c26;
}

.fg-yellow {
  color : #FFF080;
}

.fg-white {
  color : #fff;
}

a:link.pf-link-black {
  color : #121212;
}

a:visited.pf-link-black {
  color : #121212;
}

a:link.pf-link-gray650 {
  color : #a8a8a8;
}

a:visited.pf-link-gray650 {
  color : #a8a8a8;
}

a:link.pf-link-green {
  color : #79F2B0;
}

a:visited.pf-link-green {
  color : #79F2B0;
}

a:link.pf-link-purple {
  color : #974DFF;
}

a:visited.pf-link-purple {
  color : #974DFF;
}

a:link.pf-link-white {
  color : #fff;
}

a:visited.pf-link-white {
  color : #fff;
}

a:link.pf-link-yellow {
  color : #FFF080;
}

a:visited.pf-link-white {
  color : #fff;
}

.code {
  background-color : #fafafa;
  font-family      : monospace;
}

.inline-code {
  font-family                : monospace;
  padding-top                : 1px;
  padding-bottom             : 1px;
  padding-right              : 5px;
  padding-left               : 5px;
  border-top-width           : 1px;
  border-right-width         : 1px;
  border-bottom-width        : 1px;
  border-left-width          : 1px;
  border-top-left-radius     : 3px;
  border-top-right-radius    : 3px;
  border-bottom-right-radius : 3px;
  border-bottom-left-radius  : 3px;
  background-color           : #fafafa;
}

.opacity-25 {
  opacity : 0.25;
}

.opacity-50 {
  opacity : 0.5;
}

.opacity-75 {
  opacity : 0.75;
}

a, a:link, a:visited {
  color           : #121212;
  text-decoration : none;
}

a:hover, a:active {
  text-decoration : underline;
}

.body-leading {
  font-size : 1.1875rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top    : 0.5rem;
  margin-bottom : 0.5rem;
  margin-right  : 0;
  margin-left   : 0;
}

hr {
  border-top-color    : none;
  border-right-color  : none;
  border-bottom-color : none;
  border-left-color   : none;
  border-top-style    : none;
  border-right-style  : none;
  border-bottom-style : none;
  border-left-style   : none;
  border-top-width    : none;
  border-right-width  : none;
  border-bottom-width : none;
  border-left-width   : none;
}

.pf-divider {
  border-top-color : #ddd;
  height           : 0px;
}

.pf-navbar a, .pf-navbar a:link {
  color : #fff;
}

.btn:hover {
  -webkit-box-shadow : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -moz-box-shadow    : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -ms-box-shadow     : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -o-box-shadow      : inset 0 0 0 20rem rgba(0,0,0,0.1);
  box-shadow         : inset 0 0 0 20rem rgba(0,0,0,0.1);
}

a:active.btn {
  -webkit-box-shadow : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -moz-box-shadow    : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -ms-box-shadow     : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -o-box-shadow      : inset 0 0 0 20rem rgba(0,0,0,0.3);
  box-shadow         : inset 0 0 0 20rem rgba(0,0,0,0.3);
}

a:link.btn {
  text-decoration : none;
}

.btn {
  padding-top    : 0.75rem;
  padding-bottom : 0.75rem;
}

.vid-time-link {
  padding-top    : 0.25rem;
  padding-right  : 0.25rem;
  padding-bottom : 0.25rem;
  padding-left   : 0.25rem;
  margin-right   : 0.25rem;
}

@media only screen and (min-width: 832px) {

html {
  font-size : 16px;
}

}
@media only screen and (max-width: 831px) {

.hero-logo {
  max-width : 160px;
}

}
