
body, html {
  height : 100%;
}

html {
  font-size          : 14px;
  font-family        : -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height        : 1.5;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

body {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

*, *::before, *::after {
  -webkit-box-sizing : inherit;
  -moz-box-sizing    : inherit;
  -ms-box-sizing     : inherit;
  -o-box-sizing      : inherit;
  box-sizing         : inherit;
}

.bg-black {
  background-color : #121212;
}

.bg-black-50 {
  color : #808080;
}

.bg-dark {
  background-color : #121212;
}

.bg-light {
  background-color : #888;
}

.bg-purple {
  background-color : #974DFF;
}

.bg-white {
  background-color : #fff;
}

.border-gray-900 {
  border-top-color    : #f6f6f6;
  border-right-color  : #f6f6f6;
  border-bottom-color : #f6f6f6;
  border-left-color   : #f6f6f6;
}

.fg-black {
  color : #121212;
}

.fg-gray300 {
  color : #555555;
}

.fg-gray400 {
  color : #666666;
}

.fg-gray850 {
  color : #d8d8d8;
}

.fg-purple {
  color : #974DFF;
}

.fg-white {
  color : #fff;
}

a:link.pf-link-gray650 {
  color : #a8a8a8;
}

a:visited.pf-link-gray650 {
  color : #a8a8a8;
}

a:link.pf-link-green {
  color : #79F2B0;
}

a:visited.pf-link-green {
  color : #79F2B0;
}

a:link.pf-link-purple {
  color : #974DFF;
}

a:visited.pf-link-purple {
  color : #974DFF;
}

a:link.pf-link-white {
  color : #fff;
}

a:visited.pf-link-white {
  color : #fff;
}

a:link.pf-link-yellow {
  color : #FFF080;
}

a:visited.pf-link-white {
  color : #fff;
}

.code {
  background-color : #fafafa;
  font-family      : monospace;
}

.inline-code {
  font-family                : monospace;
  padding-top                : 1px;
  padding-bottom             : 1px;
  padding-right              : 5px;
  padding-left               : 5px;
  border-top-width           : 1px;
  border-right-width         : 1px;
  border-bottom-width        : 1px;
  border-left-width          : 1px;
  border-top-left-radius     : 3px;
  border-top-right-radius    : 3px;
  border-bottom-right-radius : 3px;
  border-bottom-left-radius  : 3px;
  background-color           : #fafafa;
}

.opacity-25 {
  opacity : 0.25;
}

.opacity-50 {
  opacity : 0.5;
}

.opacity-75 {
  opacity : 0.75;
}

a, a:link, a:visited {
  color           : #121212;
  text-decoration : none;
}

a:hover, a:active {
  text-decoration : underline;
}

.body-leading {
  font-size : 1.1875rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top    : 0.5rem;
  margin-bottom : 0.5rem;
  margin-right  : 0;
  margin-left   : 0;
}

hr {
  border-top-color    : none;
  border-right-color  : none;
  border-bottom-color : none;
  border-left-color   : none;
  border-top-style    : none;
  border-right-style  : none;
  border-bottom-style : none;
  border-left-style   : none;
  border-top-width    : none;
  border-right-width  : none;
  border-bottom-width : none;
  border-left-width   : none;
}

.pf-divider {
  border-top-color : #ddd;
  height           : 0px;
}

.pf-navbar a, .pf-navbar a:link {
  color : #fff;
}

a:hover.btn {
  -webkit-box-shadow : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -moz-box-shadow    : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -ms-box-shadow     : inset 0 0 0 20rem rgba(0,0,0,0.1);
  -o-box-shadow      : inset 0 0 0 20rem rgba(0,0,0,0.1);
  box-shadow         : inset 0 0 0 20rem rgba(0,0,0,0.1);
}

a:active.btn {
  -webkit-box-shadow : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -moz-box-shadow    : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -ms-box-shadow     : inset 0 0 0 20rem rgba(0,0,0,0.3);
  -o-box-shadow      : inset 0 0 0 20rem rgba(0,0,0,0.3);
  box-shadow         : inset 0 0 0 20rem rgba(0,0,0,0.3);
}

a:link.btn {
  text-decoration : none;
}

.h1 {
  font-size : 4rem;
}

.h2 {
  font-size : 3rem;
}

.h3 {
  font-size : 2rem;
}

.h4 {
  font-size : 1.5rem;
}

.h5 {
  font-size : 1rem;
}

.h6 {
  font-size : 0.75rem;
}

.hide {
  position : absolute;
  height   : 1px;
  width    : 1px;
  overflow : hidden;
  clip     : rect(1px1px1px1px);
}

.flex {
  display : flex;
}

.flex-column {
  flex-direction : column;
}

.flex-wrap {
  flex-wrap : wrap;
}


.items-start {
  align-items : flex-start;
}

.items-end {
  align-items : flex-end;
}

.items-center {
  align-items : center;
}

.items-baseline {
  align-items : baseline;
}

.items-stretch {
  align-items : stretch;
}

.self-start {
  align-self : flex-start;
}

.self-end {
  align-self : flex-end;
}

.self-center {
  align-self : center;
}

.self-baseline {
  align-self : baseline;
}

.self-stretch {
  align-self : stretch;
}

.justify-start {
  justify-content : flex-start;
}

.justify-end {
  justify-content : flex-end;
}

.justify-center {
  justify-content : center;
}

.justify-between {
  justify-content : space-between;
}

.justify-around {
  justify-content : space-around;
}

.align-start {
  align-content : flex-start;
}

.align-end {
  align-content : flex-end;
}

.align-center {
  align-content : center;
}

.align-between {
  align-content : space-between;
}

.align-around {
  align-content : space-around;
}

.order-0 {
  order : 0;
}

.order-1 {
  order : 1;
}

.order-2 {
  order : 2;
}

.order-3 {
  order : 3;
}

.order-last {
  order : 99999;
}

.row {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  display            : flex;
  flex-grow          : 0;
  flex-shrink        : 1;
  flex-basis         : auto;
  flex-direction     : row;
  flex-wrap          : wrap;
}

.row.reverse {
  flex-direction : row-reverse;
}

.col.reverse {
  flex-direction : column-reverse;
}

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-xs {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-xs-1 {
  flex-basis : 8.33333333333333%;
  max-width  : 8.33333333333333%;
}

.col-xs-2 {
  flex-basis : 16.6666666666667%;
  max-width  : 16.6666666666667%;
}

.col-xs-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-xs-4 {
  flex-basis : 33.3333333333333%;
  max-width  : 33.3333333333333%;
}

.col-xs-5 {
  flex-basis : 41.6666666666667%;
  max-width  : 41.6666666666667%;
}

.col-xs-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-xs-7 {
  flex-basis : 58.3333333333333%;
  max-width  : 58.3333333333333%;
}

.col-xs-8 {
  flex-basis : 66.6666666666667%;
  max-width  : 66.6666666666667%;
}

.col-xs-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-xs-10 {
  flex-basis : 83.3333333333333%;
  max-width  : 83.3333333333333%;
}

.col-xs-11 {
  flex-basis : 91.6666666666667%;
  max-width  : 91.6666666666667%;
}

.col-xs-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-xs {
  justify-content : flex-start;
  text-align      : start;
}

.center-xs {
  justify-content : center;
  text-align      : center;
}

.end-xs {
  justify-content : flex-end;
  text-align      : end;
}

.top-xs {
  align-items : flex-start;
}

.middle-xs {
  align-items : center;
}

.bottom-xs {
  align-items : flex-end;
}

.around-xs {
  justify-content : space-around;
}

.between-xs {
  justify-content : space-between;
}

.first-xs {
  order : -1;
}

.last-xs {
  order : 1;
}

.m-pb0 {
  padding-bottom : 0;
}

.m-pb1 {
  padding-bottom : 0.5rem;
}

.m-pb2 {
  padding-bottom : 1rem;
}

.m-pb3 {
  padding-bottom : 2rem;
}

.m-pb4 {
  padding-bottom : 4rem;
}

.m-pl0 {
  padding-left : 0;
}

.m-pl1 {
  padding-left : 0.5rem;
}

.m-pl2 {
  padding-left : 1rem;
}

.m-pl3 {
  padding-left : 2rem;
}

.m-pl4 {
  padding-left : 4rem;
}

.m-pr0 {
  padding-right : 0;
}

.m-pr1 {
  padding-right : 0.5rem;
}

.m-pr2 {
  padding-right : 1rem;
}

.m-pr3 {
  padding-right : 2rem;
}

.m-pr4 {
  padding-right : 4rem;
}

.m-pt0 {
  padding-top : 0;
}

.m-pt1 {
  padding-top : 0.5rem;
}

.m-pt2 {
  padding-top : 1rem;
}

.m-pt3 {
  padding-top : 2rem;
}

.m-pt4 {
  padding-top : 4rem;
}

.m-mb0 {
  margin-bottom : 0;
}

.m-mb1 {
  margin-bottom : 0.5rem;
}

.m-mb2 {
  margin-bottom : 1rem;
}

.m-mb3 {
  margin-bottom : 2rem;
}

.m-mb4 {
  margin-bottom : 4rem;
}

.m-ml0 {
  margin-left : 0;
}

.m-ml1 {
  margin-left : 0.5rem;
}

.m-ml2 {
  margin-left : 1rem;
}

.m-ml3 {
  margin-left : 2rem;
}

.m-ml4 {
  margin-left : 4rem;
}

.m-mr0 {
  margin-right : 0;
}

.m-mr1 {
  margin-right : 0.5rem;
}

.m-mr2 {
  margin-right : 1rem;
}

.m-mr3 {
  margin-right : 2rem;
}

.m-mr4 {
  margin-right : 4rem;
}

.m-mt0 {
  margin-top : 0;
}

.m-mt1 {
  margin-top : 0.5rem;
}

.m-mt2 {
  margin-top : 1rem;
}

.m-mt3 {
  margin-top : 2rem;
}

.m-mt4 {
  margin-top : 4rem;
}

.bold {
  font-weight : 700;
}

.italic {
  font-style : italic;
}

.medium {
  font-weight : 500;
}

.regular {
  font-weight : normal;
}

.semi-bold {
  font-weight : 600;
}

.underline {
  text-decoration : underline;
}

.caps {
  text-transform : uppercase;
  letter-spacing : 0.54pt;
}

.lh-0 {
  line-height : 1.15;
}

.lh-1 {
  line-height : 1.25;
}

.lh-2 {
  line-height : 1.45;
}

.lh-3 {
  line-height : 1.5;
}

.lh-1r {
  line-height : 1rem;
}

.lh-2r {
  line-height : 2rem;
}

.lh-3r {
  line-height : 3rem;
}

.lh-4r {
  line-height : 4rem;
}

.ffi {
  font-family : inherit;
}

.fsi {
  font-size : inherit;
}

.tdn {
  text-decoration : none;
}

.list-style-none {
  list-style-type : none;
}

.list-reset {
  list-style-type : none;
  padding-left    : 0;
}

.start-align {
  text-align : start;
}

.center {
  text-align : center;
}

.end-align {
  text-align : end;
}

.justify {
  text-align : justify;
}

.inline {
  display : inline;
}

.block {
  display : block;
}

.inline-block {
  display : inline-block;
}

.table {
  display : table;
}

.table-cell {
  display : table-cell;
}

.overflow-hidden {
  overflow : hidden;
}

.overflow-scroll {
  overflow : scroll;
}

.overflow-auto {
  overflow : auto;
}

.overflow-auto-x {
  overflow-x : auto;
}

.overflow-auto-y {
  overflow-y : auto;
}

.clear-fix::before, .clear-fix::after {
  content : "";
  display : table;
}

.clear-fix::after {
  clear : both;
}

.left {
  float : left;
}

.right {
  float : right;
}

.fit {
  max-width : 100%;
}

.max-width-1 {
  max-width : 24em;
}

.max-width-2 {
  max-width : 40em;
}

.max-width-3 {
  max-width : 52em;
}

.max-width-4 {
  max-width : 64em;
}

.border-box {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

.static {
  position : static;
}

.relative {
  position : relative;
}

.absolute {
  position : absolute;
}

.fixed {
  position : fixed;
}

.sticky {
  position : sticky;
  position : -webkit-sticky;
}

.top-0 {
  top : 0;
}

.right-0 {
  right : 0;
}

.bottom-0 {
  bottom : 0;
}

.left-0 {
  left : 0;
}

.z1 {
  z-index : 1;
}

.z2 {
  z-index : 2;
}

.z3 {
  z-index : 3;
}

.z4 {
  z-index : 4;
}

.border {
  border-top-style    : solid;
  border-right-style  : solid;
  border-bottom-style : solid;
  border-left-style   : solid;
  border-top-width    : 1px;
  border-right-width  : 1px;
  border-bottom-width : 1px;
  border-left-width   : 1px;
}

.border-top {
  border-top-style : solid;
  border-top-width : 1px;
}

.border-right {
  border-right-style : solid;
  border-right-width : 1px;
}

.border-bottom {
  border-bottom-style : solid;
  border-bottom-width : 1px;
}

.border-left {
  border-left-style : solid;
  border-left-width : 1px;
}

.border-none {
  border-top-style    : none;
  border-right-style  : none;
  border-bottom-style : none;
  border-left-style   : none;
  border-top-width    : 0;
  border-right-width  : 0;
  border-bottom-width : 0;
  border-left-width   : 0;
}

.rounded {
  border-top-left-radius     : 6px;
  border-top-right-radius    : 6px;
  border-bottom-right-radius : 6px;
  border-bottom-left-radius  : 6px;
}

.rounded-left {
  border-top-left-radius    : 6px;
  border-bottom-left-radius : 6px;
}

.rounded-right {
  border-top-right-radius    : 6px;
  border-bottom-right-radius : 6px;
}

.circle {
  border-top-left-radius     : 50%;
  border-top-right-radius    : 50%;
  border-bottom-right-radius : 50%;
  border-bottom-left-radius  : 50%;
}

.pill {
  border-top-left-radius     : 9999px;
  border-top-right-radius    : 9999px;
  border-bottom-right-radius : 9999px;
  border-bottom-left-radius  : 9999px;
}

.align-middle {
  vertical-align : middle;
}

@media only screen and (min-width: 52em) {

html {
  font-size : 16px;
}

}
@media only screen and (max-width: 40em) {

.xs-hide {
  display : none;
}

}
@media only screen and (min-width: 40em) and (max-width: 52em) {

.sm-hide {
  display : none;
}

}
@media only screen and (min-width: 52em) and (max-width: 64em) {

.md-hide {
  display : none;
}

}
@media only screen and (min-width: 64em) {

.lg-hide {
  display : none;
}

}
@media only screen and (min-width: 64em) {

.flex-lg {
  display : flex;
}

}
@media only screen and (min-width: 52em) {

.flex-md {
  display : flex;
}

}
@media only screen and (min-width: 40em) {

.flex-sm {
  display : flex;
}

}
@media only screen and (min-width: 24em) {

.flex-xs {
  display : flex;
}

}
@media only screen and (min-width: 40em) {

.col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-sm {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-sm-1 {
  flex-basis : 8.33333333333333%;
  max-width  : 8.33333333333333%;
}

.col-sm-2 {
  flex-basis : 16.6666666666667%;
  max-width  : 16.6666666666667%;
}

.col-sm-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-sm-4 {
  flex-basis : 33.3333333333333%;
  max-width  : 33.3333333333333%;
}

.col-sm-5 {
  flex-basis : 41.6666666666667%;
  max-width  : 41.6666666666667%;
}

.col-sm-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-sm-7 {
  flex-basis : 58.3333333333333%;
  max-width  : 58.3333333333333%;
}

.col-sm-8 {
  flex-basis : 66.6666666666667%;
  max-width  : 66.6666666666667%;
}

.col-sm-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-sm-10 {
  flex-basis : 83.3333333333333%;
  max-width  : 83.3333333333333%;
}

.col-sm-11 {
  flex-basis : 91.6666666666667%;
  max-width  : 91.6666666666667%;
}

.col-sm-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-sm {
  justify-content : flex-start;
  text-align      : start;
}

.center-sm {
  justify-content : center;
  text-align      : center;
}

.end-sm {
  justify-content : flex-end;
  text-align      : end;
}

.top-sm {
  align-items : flex-start;
}

.middle-sm {
  align-items : center;
}

.bottom-sm {
  align-items : flex-end;
}

.around-sm {
  justify-content : space-around;
}

.between-sm {
  justify-content : space-between;
}

.first-sm {
  order : -1;
}

.last-sm {
  order : 1;
}

}
@media only screen and (min-width: 52em) {

.col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-md {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-md-1 {
  flex-basis : 8.33333333333333%;
  max-width  : 8.33333333333333%;
}

.col-md-2 {
  flex-basis : 16.6666666666667%;
  max-width  : 16.6666666666667%;
}

.col-md-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-md-4 {
  flex-basis : 33.3333333333333%;
  max-width  : 33.3333333333333%;
}

.col-md-5 {
  flex-basis : 41.6666666666667%;
  max-width  : 41.6666666666667%;
}

.col-md-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-md-7 {
  flex-basis : 58.3333333333333%;
  max-width  : 58.3333333333333%;
}

.col-md-8 {
  flex-basis : 66.6666666666667%;
  max-width  : 66.6666666666667%;
}

.col-md-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-md-10 {
  flex-basis : 83.3333333333333%;
  max-width  : 83.3333333333333%;
}

.col-md-11 {
  flex-basis : 91.6666666666667%;
  max-width  : 91.6666666666667%;
}

.col-md-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-md {
  justify-content : flex-start;
  text-align      : start;
}

.center-md {
  justify-content : center;
  text-align      : center;
}

.end-md {
  justify-content : flex-end;
  text-align      : end;
}

.top-md {
  align-items : flex-start;
}

.middle-md {
  align-items : center;
}

.bottom-md {
  align-items : flex-end;
}

.around-md {
  justify-content : space-around;
}

.between-md {
  justify-content : space-between;
}

.first-md {
  order : -1;
}

.last-md {
  order : 1;
}

}
@media only screen and (min-width: 64em) {

.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  flex-grow          : 0;
  flex-shrink        : 0;
  flex-basis         : auto;
}

.col-lg {
  flex-grow  : 1;
  flex-basis : 0;
  max-width  : 100%;
}

.col-lg-1 {
  flex-basis : 8.33333333333333%;
  max-width  : 8.33333333333333%;
}

.col-lg-2 {
  flex-basis : 16.6666666666667%;
  max-width  : 16.6666666666667%;
}

.col-lg-3 {
  flex-basis : 25%;
  max-width  : 25%;
}

.col-lg-4 {
  flex-basis : 33.3333333333333%;
  max-width  : 33.3333333333333%;
}

.col-lg-5 {
  flex-basis : 41.6666666666667%;
  max-width  : 41.6666666666667%;
}

.col-lg-6 {
  flex-basis : 50%;
  max-width  : 50%;
}

.col-lg-7 {
  flex-basis : 58.3333333333333%;
  max-width  : 58.3333333333333%;
}

.col-lg-8 {
  flex-basis : 66.6666666666667%;
  max-width  : 66.6666666666667%;
}

.col-lg-9 {
  flex-basis : 75%;
  max-width  : 75%;
}

.col-lg-10 {
  flex-basis : 83.3333333333333%;
  max-width  : 83.3333333333333%;
}

.col-lg-11 {
  flex-basis : 91.6666666666667%;
  max-width  : 91.6666666666667%;
}

.col-lg-12 {
  flex-basis : 100%;
  max-width  : 100%;
}

.start-lg {
  justify-content : flex-start;
  text-align      : start;
}

.center-lg {
  justify-content : center;
  text-align      : center;
}

.end-lg {
  justify-content : flex-end;
  text-align      : end;
}

.top-lg {
  align-items : flex-start;
}

.middle-lg {
  align-items : center;
}

.bottom-lg {
  align-items : flex-end;
}

.around-lg {
  justify-content : space-around;
}

.between-lg {
  justify-content : space-between;
}

.first-lg {
  order : -1;
}

.last-lg {
  order : 1;
}

}
@media only screen and (min-width: 832px) {

.d-pb0 {
  padding-bottom : 0;
}

.d-pb1 {
  padding-bottom : 0.5rem;
}

.d-pb2 {
  padding-bottom : 1rem;
}

.d-pb3 {
  padding-bottom : 2rem;
}

.d-pb4 {
  padding-bottom : 4rem;
}

.d-pl0 {
  padding-left : 0;
}

.d-pl1 {
  padding-left : 0.5rem;
}

.d-pl2 {
  padding-left : 1rem;
}

.d-pl3 {
  padding-left : 2rem;
}

.d-pl4 {
  padding-left : 4rem;
}

.d-pr0 {
  padding-right : 0;
}

.d-pr1 {
  padding-right : 0.5rem;
}

.d-pr2 {
  padding-right : 1rem;
}

.d-pr3 {
  padding-right : 2rem;
}

.d-pr4 {
  padding-right : 4rem;
}

.d-pt0 {
  padding-top : 0;
}

.d-pt1 {
  padding-top : 0.5rem;
}

.d-pt2 {
  padding-top : 1rem;
}

.d-pt3 {
  padding-top : 2rem;
}

.d-pt4 {
  padding-top : 4rem;
}

}
@media only screen and (min-width: 832px) {

.d-mb0 {
  margin-bottom : 0;
}

.d-mb1 {
  margin-bottom : 0.5rem;
}

.d-mb2 {
  margin-bottom : 1rem;
}

.d-mb3 {
  margin-bottom : 2rem;
}

.d-mb4 {
  margin-bottom : 4rem;
}

.d-ml0 {
  margin-left : 0;
}

.d-ml1 {
  margin-left : 0.5rem;
}

.d-ml2 {
  margin-left : 1rem;
}

.d-ml3 {
  margin-left : 2rem;
}

.d-ml4 {
  margin-left : 4rem;
}

.d-mr0 {
  margin-right : 0;
}

.d-mr1 {
  margin-right : 0.5rem;
}

.d-mr2 {
  margin-right : 1rem;
}

.d-mr3 {
  margin-right : 2rem;
}

.d-mr4 {
  margin-right : 4rem;
}

.d-mt0 {
  margin-top : 0;
}

.d-mt1 {
  margin-top : 0.5rem;
}

.d-mt2 {
  margin-top : 1rem;
}

.d-mt3 {
  margin-top : 2rem;
}

.d-mt4 {
  margin-top : 4rem;
}

}
@media only screen and (min-width: 64em) {

.sticky-lg {
  position : sticky;
  position : -webkit-sticky;
}

}
@media only screen and (min-width: 52em) {

.sticky-md {
  position : sticky;
  position : -webkit-sticky;
}

}
@media only screen and (min-width: 40em) {

.sticky-sm {
  position : sticky;
  position : -webkit-sticky;
}

}
@media only screen and (min-width: 24em) {

.sticky-xs {
  position : sticky;
  position : -webkit-sticky;
}

}
