/*

Base

*/

html, body {
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

video {
  max-width: 100%;
}

.bg-dark {
  background-color: #222;
}

.vh100 {
  height: 100vh;
}

/*

Line height

*/

.h1 {
  line-height: 1.15;
}
.h2, .h3 {
  line-height: 1.25;
}
.h4, .h5 {
  line-height: 1.45;
}

/*

Font sizes

*/

.h1 {
  font-size: 3.998rem;
}
.h2 {
  font-size: 2.827rem;
}
.h3 {
  font-size: 1.999rem;
}
.h4 {
  font-size: 1.414rem;
}
.h5 {
  font-size: 1.0rem;
}
.h6 {
  font-size: 0.707rem;
}

/*

Font styles

*/

.fw-bold {
  font-weight: 700;
}

.h-caps {
  text-transform: uppercase;
  letter-spacing: 0.54pt;
}

/*

Grid

*/

.grid {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}
.col {
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.col-1 {
  flex-basis: calc(1/12 * 100%);
  max-width: calc(1/12 * 100%);
}
.col-2 {
  flex-basis: calc(2/12 * 100%);
  max-width: calc(2/12 * 100%);
}
.col-3 {
  flex-basis: calc(3/12 * 100%);
  max-width: calc(3/12 * 100%);
}
.col-4 {
  flex-basis: calc(4/12 * 100%);
  max-width: calc(4/12 * 100%);
}
.col-5 {
  flex-basis: calc(5/12 * 100%);
  max-width: calc(5/12 * 100%);
}
.col-6 {
  flex-basis: calc(6/12 * 100%);
  max-width: calc(6/12 * 100%);
}
.col-7 {
  flex-basis: calc(7/12 * 100%);
  max-width: calc(7/12 * 100%);
}
.col-8 {
  flex-basis: calc(8/12 * 100%);
  max-width: calc(8/12 * 100%);
}
.col-9 {
  flex-basis: calc(9/12 * 100%);
  max-width: calc(9/12 * 100%);
}
.col-10 {
  flex-basis: calc(10/12 * 100%);
  max-width: calc(10/12 * 100%);
}
.col-11 {
  flex-basis: calc(11/12 * 100%);
  max-width: calc(11/12 * 100%);
}
.col-12 {
  flex-basis: calc(12/12 * 100%);
  max-width: calc(12/12 * 100%);
}

/*

Padding

*/

.p0 {
  padding: 0;
}
.p0_5 {
  padding: 0.5rem;
}
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}
.p4 {
  padding: 4rem;
}
.p5 {
  padding: 5rem;
}
.pt0 {
  padding-top: 0;
}
.pt0_5 {
  padding-top: 0.5rem;
}
.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt3 {
  padding-top: 3rem;
}
.pt4 {
  padding-top: 4rem;
}
.pt5 {
  padding-top: 5rem;
}
.pb0 {
  padding-bottom: 0;
}
.pb0_5 {
  padding-bottom: 0.5rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pb5 {
  padding-bottom: 5rem;
}
.pl0 {
  padding-left: 0;
}
.pl0_5 {
  padding-left: 0.5rem;
}
.pl1 {
  padding-left: 1rem;
}
.pl2 {
  padding-left: 2rem;
}
.pl3 {
  padding-left: 3rem;
}
.pl4 {
  padding-left: 4rem;
}
.pl5 {
  padding-left: 5rem;
}
.pr0 {
  padding-right: 0;
}
.pr0_5 {
  padding-right: 0.5rem;
}
.pr1 {
  padding-right: 1rem;
}
.pr2 {
  padding-right: 2rem;
}
.pr3 {
  padding-right: 3rem;
}
.pr4 {
  padding-right: 4rem;
}
.pr5 {
  padding-right: 5rem;
}
