name: CI

on: [push, pull_request]

jobs:
  build:
    name: MacOS
    runs-on: macos-11.0
    steps:
    - uses: actions/checkout@v2
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v2
    - name: Install Dependencies
      run: brew install cmark
    - name: Start Postgres
      run: brew services start postgresql
    - name: Select Xcode 13
      run: sudo xcode-select -s /Applications/Xcode_13.app
    - name: Run tests
      run: make test-oss
      env:
        CI: 1

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: make test-linux
