name: Deploy

on:
  push:
    branches:
      - '*'
      #- master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: pointfreeco-stephen
          heroku_email: stephen.celis@gmail.com
          usedocker: true
